@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --header-height: 3.5 rems;

    /*====Color====*/
    /*
        Desert: hsl(18, 66%, 42%)
        Westar: hsl(50, 10%, 89%)
        Cement: hsl(23, 18%, 49%)
        Masala: hsl(354, 9%, 22%)

    */

    --first-hue: 18;
    --sat: 66%;
    --lig: 42%;
    --second-hue: 50;

    --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
    --first-color-alt: hsl(var(--first-hue), var(--sat), 38%);
    --title-color: hsl(var(--second-hue), 15%, 95%);
    --text-color: hsl(var(--second-hue), 8%, 75%);
    --text-color-light: hsl(var(--second-hue), 4%, 55%);
    --body-color: hsl(var(--second-hue), 10%, 89%);
    --container-color: hsl(var(--second-hue), 32%, 95%);

    /*===Font===*/
    --body-font: 'Roboto', sans-serif;
    --bigest-font-size: 1.75 rems;
    --h1-font-size: 1.5 rems;
    --h2-font-size: 1.25 rems;
    --h3-font-size: 1 rems;
    --normal-font-size: .938 rems;
    --small-font-size: .813 rems;
    --smaller-font-size: .75 rems;
    --tiny-font-size: .625 rems;

    /*===Font-weight===*/
    --font-medium: 500;
    --font-semibold: 600;

    /*===z-index===*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-model: 1000;

    /*===Responsive Typography===*/
    @media screen and (min-width 968px){
        :root{
            --bigest-font-size: 2.5 rems;
            --h1-font-size: 2.25 rems;
            --h2-font-size: 1.5 rems;
            --h3-font-size: 1.25 rems;
            --normal-font-size: 1 rems;
            --small-font-size: .875 rems;
            --smaller-font-size: .813 rems;
        }
    }
}

/*===BASE===*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior:smooth;
}

body,
button,
input,
textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3{
    color: var(--title-color);
    font-weight: var(--font-semibold);
}

ul{
    list-style:none;
}

a{
    text-decoration:none;
}

button{
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}


/*=== Reusuable CSS Class ===*/

.container{
    max-width:968px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.grid{
    display: grid;
    gap: 1.25 rems;

}

.main{
    overflow: hidden;
}

.section{
    padding: 4.5rem 0 1rem;
}

.section_title,
.section_subtitle{
    text-align: center;
}

.section_title{
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: 2rem;
}

.section_subtitle{
    display: block;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}


